.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 2rem;
}

.boostContent{
    color: #605F5F;
    font-size: 20px;
    font-weight: 500;
}

.cardDiv{
    position: relative;
    margin-top: 250px;
}

.storeImageDiv{
    margin-top: 39px;
    gap: 10px;
}

.mobileImage{
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.contentImageGrid{
  z-index: 0;
}

.appStore{
    margin-left: 24px;
}

.promotionBox{
    margin: 60px 0;
}

@media (max-width: 900px) {
    .mobileImage{
        display: block;
        width: 90%;
        position: static;
    }
    .sxMobileImage{
        width: 90%;
    }
    .cardDiv{
        margin-top: 20px;
    }
    .boostContent {
      display: none;
    }
    .storeImageDiv{
        margin-top: 12px; 
        display: flex;
        justify-content: space-around;
        padding: 12px 0;
    }
    .mobileGrid{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .appStore{
        margin-left: 0;
    }
    .card{
       padding: 0;
    }
    .contentImageGrid{
        padding: 0;
    }
}